USE [master]
GO
/****** Object:  Database [SteelMakingPlant]    Script Date: 11/12/2025 11:34:00 AM ******/
CREATE DATABASE [SteelMakingPlant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SteelMakingPlant', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SteelMakingPlant.mdf' , SIZE = 307200KB , MAXSIZE = UNLIMITED, FILEGROWTH = 307200KB )
 LOG ON 
( NAME = N'SteelMakingPlant_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SteelMakingPlant_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 204800KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SteelMakingPlant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SteelMakingPlant]
GO
/****** Object:  User [Soltani\Farzane]    Script Date: 11/12/2025 11:34:00 AM ******/
CREATE USER [Soltani\Farzane] FOR LOGIN [Soltani\Farzane] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Soltani\Farzane]
GO
/****** Object:  Schema [Inventory]    Script Date: 11/12/2025 11:34:00 AM ******/
CREATE SCHEMA [Inventory]
GO
/****** Object:  Schema [Main]    Script Date: 11/12/2025 11:34:00 AM ******/
CREATE SCHEMA [Main]
GO
/****** Object:  Schema [Maintenance]    Script Date: 11/12/2025 11:34:00 AM ******/
CREATE SCHEMA [Maintenance]
GO
/****** Object:  Schema [Product]    Script Date: 11/12/2025 11:34:00 AM ******/
CREATE SCHEMA [Product]
GO
/****** Object:  Schema [Production]    Script Date: 11/12/2025 11:34:00 AM ******/
CREATE SCHEMA [Production]
GO
/****** Object:  Schema [Purchase]    Script Date: 11/12/2025 11:34:00 AM ******/
CREATE SCHEMA [Purchase]
GO
/****** Object:  Schema [Quality]    Script Date: 11/12/2025 11:34:00 AM ******/
CREATE SCHEMA [Quality]
GO
/****** Object:  Schema [Sales]    Script Date: 11/12/2025 11:34:00 AM ******/
CREATE SCHEMA [Sales]
GO
/****** Object:  Schema [Utility]    Script Date: 11/12/2025 11:34:00 AM ******/
CREATE SCHEMA [Utility]
GO
/****** Object:  Table [dbo].[Shipment]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipment](
	[ShipID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Shipment] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Shipment] PRIMARY KEY CLUSTERED 
(
	[ShipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[Inventory]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[Inventory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseID] [tinyint] NOT NULL,
	[RowMaterialID] [smallint] NULL,
	[ProductID] [smallint] NULL,
	[Quantity] [decimal](15, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[StockIn]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[StockIn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseID] [tinyint] NOT NULL,
	[RowMaterialID] [smallint] NULL,
	[ProductID] [smallint] NULL,
	[Quantity] [decimal](15, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[StockOut]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[StockOut](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseID] [tinyint] NOT NULL,
	[RowMaterialID] [smallint] NULL,
	[ProductID] [smallint] NULL,
	[Quantity] [decimal](15, 3) NOT NULL,
	[ShippedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[Transport]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[Transport](
	[TransportID] [int] IDENTITY(1,1) NOT NULL,
	[StockType] [varchar](10) NULL,
	[StockId] [int] NOT NULL,
	[FromWarehouseID] [tinyint] NULL,
	[ToWarehouseID] [tinyint] NULL,
	[Quantity] [decimal](10, 3) NOT NULL,
	[TransportDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[Warehouse]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[Warehouse](
	[WarehouseId] [tinyint] IDENTITY(1,1) NOT NULL,
	[WarehouseName] [varchar](100) NOT NULL,
	[PlantID] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Main].[Customer]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Main].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [nvarchar](10) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[CustomerType] [nvarchar](20) NULL,
	[ContactPerson] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](30) NOT NULL,
	[City] [nvarchar](40) NOT NULL,
	[Address] [nvarchar](250) NULL,
	[phone] [char](8) NOT NULL,
	[EmailAddress] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Main].[Department]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Main].[Department](
	[DepartmentID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [nvarchar](10) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Main].[Employee]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Main].[Employee](
	[EmployeeID] [smallint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](10) NOT NULL,
	[ReportToKey] [smallint] NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[NationalCode] [char](10) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[MaritalStatus] [nvarchar](10) NOT NULL,
	[HireDate] [date] NOT NULL,
	[DepartmentID] [tinyint] NOT NULL,
	[Country] [nvarchar](30) NOT NULL,
	[City] [nvarchar](40) NOT NULL,
	[Address] [nvarchar](250) NULL,
	[Mobile] [char](11) NOT NULL,
	[CreditCard] [char](16) NOT NULL,
 CONSTRAINT [PK__Employee__7AD04FF1BA92C884] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Main].[Plant]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Main].[Plant](
	[PlantID] [tinyint] IDENTITY(1,1) NOT NULL,
	[PlantCode] [varchar](10) NOT NULL,
	[PlantName] [nvarchar](50) NOT NULL,
	[Capacity_tpy] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Main].[Supplier]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Main].[Supplier](
	[SupplierID] [smallint] IDENTITY(1,1) NOT NULL,
	[SupplierCode] [varchar](10) NOT NULL,
	[SupplierName] [nvarchar](50) NOT NULL,
	[ContactPerson] [nvarchar](50) NOT NULL,
	[phone] [char](8) NOT NULL,
	[Country] [nvarchar](30) NOT NULL,
	[City] [nvarchar](40) NOT NULL,
	[Address] [nvarchar](250) NULL,
	[PostalCode] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Main].[Unit]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Main].[Unit](
	[UnitID] [tinyint] IDENTITY(1,1) NOT NULL,
	[UnitCode] [varchar](10) NOT NULL,
	[PlantID] [tinyint] NOT NULL,
	[UnitName] [nvarchar](50) NOT NULL,
	[Capacity_tpy] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Maintenance].[Equipment]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Maintenance].[Equipment](
	[EquipmentID] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentName] [nvarchar](100) NOT NULL,
	[UnitID] [tinyint] NULL,
	[PurchaseDate] [datetime] NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK__Equipmen__34474599E16562DA] PRIMARY KEY CLUSTERED 
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Maintenance].[Record]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Maintenance].[Record](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[MaintenanceDate] [datetime] NULL,
	[PerformedBy] [int] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Maintenance].[Schedule]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Maintenance].[Schedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentID] [int] NOT NULL,
	[ScheduledDate] [datetime] NOT NULL,
	[FrequencyDays] [int] NULL,
	[MaintenanceType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Product].[MeasureUnit]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Product].[MeasureUnit](
	[MeasureUnitID] [tinyint] IDENTITY(1,1) NOT NULL,
	[MeasureUnit] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MeasureUnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Product].[Product]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Product].[Product](
	[ProductID] [smallint] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](10) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[ProductCategoryID] [tinyint] NULL,
	[MeasureUnitID] [tinyint] NOT NULL,
	[Grade] [nvarchar](20) NULL,
	[length] [decimal](6, 2) NULL,
	[Width] [decimal](6, 2) NULL,
	[Diameter] [decimal](6, 2) NULL,
	[StandardID] [tinyint] NULL,
	[ProductionCost] [decimal](15, 2) NOT NULL,
	[UnitPrice] [decimal](15, 2) NOT NULL,
 CONSTRAINT [PK__Product__B40CC6ED3C4F6863] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Product].[ProductCategory]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Product].[ProductCategory](
	[ProductCategoryID] [tinyint] IDENTITY(1,1) NOT NULL,
	[ProductCategoryName] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Product].[RowMaterial]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Product].[RowMaterial](
	[RowMaterialID] [smallint] IDENTITY(1,1) NOT NULL,
	[RowMaterialCode] [nvarchar](10) NOT NULL,
	[RowMaterialName] [nvarchar](50) NOT NULL,
	[MeasureUnitID] [tinyint] NOT NULL,
 CONSTRAINT [PK__RowMater__A198138B544392D4] PRIMARY KEY CLUSTERED 
(
	[RowMaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[Batch]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[Batch](
	[BatchId] [smallint] IDENTITY(1,1) NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[MaterialInput]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[MaterialInput](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProcessID] [tinyint] NOT NULL,
	[RowMaterialID] [smallint] NOT NULL,
	[Quantity] [decimal](15, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[MaterialOutput]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[MaterialOutput](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProcessID] [tinyint] NOT NULL,
	[ProductID] [smallint] NOT NULL,
	[Quantity] [decimal](15, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[Process]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[Process](
	[ProcessID] [tinyint] IDENTITY(1,1) NOT NULL,
	[ProcessName] [nchar](10) NOT NULL,
	[UnitId] [tinyint] NOT NULL,
	[BatchID] [smallint] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
 CONSTRAINT [PK__Process__1B39A956F7F25971] PRIMARY KEY CLUSTERED 
(
	[ProcessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[ProcessParameter]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[ProcessParameter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProcessID] [tinyint] NOT NULL,
	[ParameterName] [nvarchar](50) NOT NULL,
	[ParameterValue] [decimal](12, 3) NOT NULL,
	[MeasureUnitID] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[Shift]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[Shift](
	[ShiftID] [tinyint] IDENTITY(1,1) NOT NULL,
	[ShiftName] [varchar](10) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Purchase].[MaterialReceipt]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Purchase].[MaterialReceipt](
	[ReceiptID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderID] [int] NOT NULL,
	[MaterialID] [smallint] NOT NULL,
	[Quantity] [decimal](15, 3) NOT NULL,
	[ReceiptDate] [datetime] NULL,
 CONSTRAINT [PK__Material__CC08C400F3F63404] PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Purchase].[PurchaseOrder]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Purchase].[PurchaseOrder](
	[PurchaseOrderID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[SupplierID] [smallint] NOT NULL,
	[OrderDate] [datetime] NULL,
	[Status] [varchar](20) NULL,
	[TotalAmount] [decimal](15, 2) NULL,
 CONSTRAINT [PK__Purchase__036BAC4490D0DBB6] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Purchase].[PurchaseRequest]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Purchase].[PurchaseRequest](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestedBy] [int] NOT NULL,
	[RequestDate] [datetime] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Purchase].[SupplierPayment]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Purchase].[SupplierPayment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderID] [int] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[PaymentMethod] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Quality].[Standard]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quality].[Standard](
	[StandardID] [tinyint] IDENTITY(1,1) NOT NULL,
	[StandardName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[MinValue] [decimal](12, 3) NULL,
	[MaxValue] [decimal](12, 3) NULL,
 CONSTRAINT [PK__Standard__BB33D3EC83A9EBBD] PRIMARY KEY CLUSTERED 
(
	[StandardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Quality].[Test]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quality].[Test](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [smallint] NOT NULL,
	[TestDate] [datetime] NULL,
	[TestedBy] [int] NULL,
	[StandardID] [tinyint] NULL,
 CONSTRAINT [PK__Test__8CC331004717A210] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Quality].[TestResult]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quality].[TestResult](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[TestID] [int] NOT NULL,
	[ParameterName] [nvarchar](50) NOT NULL,
	[MeasuredValue] [decimal](12, 3) NOT NULL,
	[UnitID] [tinyint] NOT NULL,
	[Pass] [bit] NOT NULL,
 CONSTRAINT [PK__TestResu__976902282F049AAE] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[Invoice]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[SalesOrderID] [int] NOT NULL,
	[InvoiceDate] [datetime] NULL,
	[Amount] [decimal](15, 2) NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[Payment]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[PaymentMethod] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[SalesOrderDetail]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[SalesOrderDetail](
	[SalesOrderID] [int] NOT NULL,
	[SalesOrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [smallint] NOT NULL,
	[Quantity] [decimal](15, 3) NOT NULL,
 CONSTRAINT [PK__SalesOrd__6B9B5105018A47EC] PRIMARY KEY CLUSTERED 
(
	[SalesOrderDetailID] ASC,
	[SalesOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[SalesOrderHeader]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[SalesOrderHeader](
	[SalesOrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[RequiredDate] [datetime] NOT NULL,
	[ShipDate] [datetime] NOT NULL,
	[ShipVia] [tinyint] NOT NULL,
	[ShipCountry] [nvarchar](20) NOT NULL,
	[ShipCity] [nvarchar](30) NOT NULL,
	[ShipAddress] [nvarchar](250) NOT NULL,
	[Freight] [money] NOT NULL,
 CONSTRAINT [PK__SalesOrd__B14003C266DDCD06] PRIMARY KEY CLUSTERED 
(
	[SalesOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Utility].[EnergyConsumption]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Utility].[EnergyConsumption](
	[ConsumptionID] [int] IDENTITY(1,1) NOT NULL,
	[ProcessID] [tinyint] NOT NULL,
	[EnergyType] [varchar](50) NULL,
	[Quantity] [decimal](15, 3) NOT NULL,
	[ConsumptionDate] [datetime] NULL,
 CONSTRAINT [PK__EnergyCo__E3A1C43705A1D410] PRIMARY KEY CLUSTERED 
(
	[ConsumptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Utility].[ProductionCost]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Utility].[ProductionCost](
	[CostID] [int] IDENTITY(1,1) NOT NULL,
	[ProcessID] [tinyint] NOT NULL,
	[MaterialCost] [decimal](15, 2) NULL,
	[EnergyCost] [decimal](15, 2) NULL,
	[LaborCost] [decimal](15, 2) NULL,
	[OverheadCost] [decimal](15, 2) NULL,
	[TotalCost]  AS ((([MaterialCost]+[EnergyCost])+[LaborCost])+[OverheadCost]) PERSISTED,
 CONSTRAINT [PK__Producti__8285231EFB1FFD1A] PRIMARY KEY CLUSTERED 
(
	[CostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Utility].[UtilityConsumption]    Script Date: 11/12/2025 11:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Utility].[UtilityConsumption](
	[UtilityID] [int] IDENTITY(1,1) NOT NULL,
	[UnitID] [tinyint] NOT NULL,
	[UtilityType] [varchar](50) NULL,
	[Quantity] [decimal](15, 3) NOT NULL,
	[ConsumptionDate] [datetime] NULL,
 CONSTRAINT [PK__UtilityC__8B7E2E3F3DD968B5] PRIMARY KEY CLUSTERED 
(
	[UtilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Inventory].[StockOut] ADD  DEFAULT (getdate()) FOR [ShippedAt]
GO
ALTER TABLE [Inventory].[Transport] ADD  DEFAULT (getdate()) FOR [TransportDate]
GO
ALTER TABLE [Maintenance].[Equipment] ADD  CONSTRAINT [DF__Equipment__Statu__0E6E26BF]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [Maintenance].[Record] ADD  DEFAULT (getdate()) FOR [MaintenanceDate]
GO
ALTER TABLE [Maintenance].[Record] ADD  DEFAULT ('Completed') FOR [Status]
GO
ALTER TABLE [Purchase].[MaterialReceipt] ADD  CONSTRAINT [DF__MaterialR__Recei__08B54D69]  DEFAULT (getdate()) FOR [ReceiptDate]
GO
ALTER TABLE [Purchase].[PurchaseOrder] ADD  CONSTRAINT [DF__PurchaseO__Order__04E4BC85]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [Purchase].[PurchaseOrder] ADD  CONSTRAINT [DF__PurchaseO__Statu__05D8E0BE]  DEFAULT ('New') FOR [Status]
GO
ALTER TABLE [Purchase].[PurchaseRequest] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [Purchase].[PurchaseRequest] ADD  DEFAULT ('New') FOR [Status]
GO
ALTER TABLE [Purchase].[SupplierPayment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [Quality].[Test] ADD  CONSTRAINT [DF__Test__TestDate__18EBB532]  DEFAULT (getdate()) FOR [TestDate]
GO
ALTER TABLE [Sales].[Invoice] ADD  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [Sales].[Invoice] ADD  DEFAULT ('Unpaid') FOR [Status]
GO
ALTER TABLE [Sales].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [Sales].[SalesOrderHeader] ADD  CONSTRAINT [DF__SalesOrde__Order__75A278F5]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [Utility].[EnergyConsumption] ADD  CONSTRAINT [DF__EnergyCon__Consu__1DB06A4F]  DEFAULT (getdate()) FOR [ConsumptionDate]
GO
ALTER TABLE [Utility].[UtilityConsumption] ADD  CONSTRAINT [DF__UtilityCo__Consu__208CD6FA]  DEFAULT (getdate()) FOR [ConsumptionDate]
GO
ALTER TABLE [Inventory].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Product] FOREIGN KEY([ProductID])
REFERENCES [Product].[Product] ([ProductID])
GO
ALTER TABLE [Inventory].[Inventory] CHECK CONSTRAINT [FK_Inventory_Product]
GO
ALTER TABLE [Inventory].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_RowMaterial] FOREIGN KEY([RowMaterialID])
REFERENCES [Product].[RowMaterial] ([RowMaterialID])
GO
ALTER TABLE [Inventory].[Inventory] CHECK CONSTRAINT [FK_Inventory_RowMaterial]
GO
ALTER TABLE [Inventory].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Warehouse] FOREIGN KEY([WarehouseID])
REFERENCES [Inventory].[Warehouse] ([WarehouseId])
GO
ALTER TABLE [Inventory].[Inventory] CHECK CONSTRAINT [FK_Inventory_Warehouse]
GO
ALTER TABLE [Inventory].[StockIn]  WITH CHECK ADD  CONSTRAINT [FK_StockIn_Product] FOREIGN KEY([ProductID])
REFERENCES [Product].[Product] ([ProductID])
GO
ALTER TABLE [Inventory].[StockIn] CHECK CONSTRAINT [FK_StockIn_Product]
GO
ALTER TABLE [Inventory].[StockIn]  WITH CHECK ADD  CONSTRAINT [FK_StockIn_RowMaterial] FOREIGN KEY([RowMaterialID])
REFERENCES [Product].[RowMaterial] ([RowMaterialID])
GO
ALTER TABLE [Inventory].[StockIn] CHECK CONSTRAINT [FK_StockIn_RowMaterial]
GO
ALTER TABLE [Inventory].[StockIn]  WITH CHECK ADD  CONSTRAINT [FK_StockIn_Warehouse] FOREIGN KEY([WarehouseID])
REFERENCES [Inventory].[Warehouse] ([WarehouseId])
GO
ALTER TABLE [Inventory].[StockIn] CHECK CONSTRAINT [FK_StockIn_Warehouse]
GO
ALTER TABLE [Inventory].[StockOut]  WITH CHECK ADD  CONSTRAINT [FK_StockOut_Product] FOREIGN KEY([ProductID])
REFERENCES [Product].[Product] ([ProductID])
GO
ALTER TABLE [Inventory].[StockOut] CHECK CONSTRAINT [FK_StockOut_Product]
GO
ALTER TABLE [Inventory].[StockOut]  WITH CHECK ADD  CONSTRAINT [FK_StockOut_RowMaterial] FOREIGN KEY([RowMaterialID])
REFERENCES [Product].[RowMaterial] ([RowMaterialID])
GO
ALTER TABLE [Inventory].[StockOut] CHECK CONSTRAINT [FK_StockOut_RowMaterial]
GO
ALTER TABLE [Inventory].[StockOut]  WITH CHECK ADD  CONSTRAINT [FK_StockOut_Warehouse] FOREIGN KEY([WarehouseID])
REFERENCES [Inventory].[Warehouse] ([WarehouseId])
GO
ALTER TABLE [Inventory].[StockOut] CHECK CONSTRAINT [FK_StockOut_Warehouse]
GO
ALTER TABLE [Inventory].[Transport]  WITH CHECK ADD  CONSTRAINT [FK_Transport_StockIn] FOREIGN KEY([StockId])
REFERENCES [Inventory].[StockIn] ([ID])
GO
ALTER TABLE [Inventory].[Transport] CHECK CONSTRAINT [FK_Transport_StockIn]
GO
ALTER TABLE [Inventory].[Transport]  WITH CHECK ADD  CONSTRAINT [FK_Transport_StockOut] FOREIGN KEY([StockId])
REFERENCES [Inventory].[StockOut] ([ID])
GO
ALTER TABLE [Inventory].[Transport] CHECK CONSTRAINT [FK_Transport_StockOut]
GO
ALTER TABLE [Inventory].[Transport]  WITH CHECK ADD  CONSTRAINT [FK_Transport_Warehouse] FOREIGN KEY([FromWarehouseID])
REFERENCES [Inventory].[Warehouse] ([WarehouseId])
GO
ALTER TABLE [Inventory].[Transport] CHECK CONSTRAINT [FK_Transport_Warehouse]
GO
ALTER TABLE [Inventory].[Transport]  WITH CHECK ADD  CONSTRAINT [FK_Transport_Warehouse1] FOREIGN KEY([ToWarehouseID])
REFERENCES [Inventory].[Warehouse] ([WarehouseId])
GO
ALTER TABLE [Inventory].[Transport] CHECK CONSTRAINT [FK_Transport_Warehouse1]
GO
ALTER TABLE [Inventory].[Warehouse]  WITH CHECK ADD  CONSTRAINT [FK_Warehouse_Plant] FOREIGN KEY([PlantID])
REFERENCES [Main].[Plant] ([PlantID])
GO
ALTER TABLE [Inventory].[Warehouse] CHECK CONSTRAINT [FK_Warehouse_Plant]
GO
ALTER TABLE [Main].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([DepartmentID])
REFERENCES [Main].[Department] ([DepartmentID])
GO
ALTER TABLE [Main].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [Main].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Employee] FOREIGN KEY([ReportToKey])
REFERENCES [Main].[Employee] ([EmployeeID])
GO
ALTER TABLE [Main].[Employee] CHECK CONSTRAINT [FK_Employee_Employee]
GO
ALTER TABLE [Main].[Unit]  WITH CHECK ADD  CONSTRAINT [FK_Unit_Plant] FOREIGN KEY([PlantID])
REFERENCES [Main].[Plant] ([PlantID])
GO
ALTER TABLE [Main].[Unit] CHECK CONSTRAINT [FK_Unit_Plant]
GO
ALTER TABLE [Maintenance].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Unit] FOREIGN KEY([UnitID])
REFERENCES [Main].[Unit] ([UnitID])
GO
ALTER TABLE [Maintenance].[Equipment] CHECK CONSTRAINT [FK_Equipment_Unit]
GO
ALTER TABLE [Maintenance].[Record]  WITH CHECK ADD  CONSTRAINT [FK_Record_Schedule] FOREIGN KEY([ScheduleID])
REFERENCES [Maintenance].[Schedule] ([ScheduleID])
GO
ALTER TABLE [Maintenance].[Record] CHECK CONSTRAINT [FK_Record_Schedule]
GO
ALTER TABLE [Maintenance].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [Maintenance].[Equipment] ([EquipmentID])
GO
ALTER TABLE [Maintenance].[Schedule] CHECK CONSTRAINT [FK_Schedule_Equipment]
GO
ALTER TABLE [Product].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_MeasureUnit] FOREIGN KEY([MeasureUnitID])
REFERENCES [Product].[MeasureUnit] ([MeasureUnitID])
GO
ALTER TABLE [Product].[Product] CHECK CONSTRAINT [FK_Product_MeasureUnit]
GO
ALTER TABLE [Product].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductCategory] FOREIGN KEY([ProductCategoryID])
REFERENCES [Product].[ProductCategory] ([ProductCategoryID])
GO
ALTER TABLE [Product].[Product] CHECK CONSTRAINT [FK_Product_ProductCategory]
GO
ALTER TABLE [Product].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Standard] FOREIGN KEY([StandardID])
REFERENCES [Quality].[Standard] ([StandardID])
GO
ALTER TABLE [Product].[Product] CHECK CONSTRAINT [FK_Product_Standard]
GO
ALTER TABLE [Product].[RowMaterial]  WITH CHECK ADD  CONSTRAINT [FK_RowMaterial_MeasureUnit] FOREIGN KEY([MeasureUnitID])
REFERENCES [Product].[MeasureUnit] ([MeasureUnitID])
GO
ALTER TABLE [Product].[RowMaterial] CHECK CONSTRAINT [FK_RowMaterial_MeasureUnit]
GO
ALTER TABLE [Production].[MaterialInput]  WITH CHECK ADD  CONSTRAINT [FK_MaterialInput_Process] FOREIGN KEY([ProcessID])
REFERENCES [Production].[Process] ([ProcessID])
GO
ALTER TABLE [Production].[MaterialInput] CHECK CONSTRAINT [FK_MaterialInput_Process]
GO
ALTER TABLE [Production].[MaterialInput]  WITH CHECK ADD  CONSTRAINT [FK_MaterialInput_RowMaterial] FOREIGN KEY([RowMaterialID])
REFERENCES [Product].[RowMaterial] ([RowMaterialID])
GO
ALTER TABLE [Production].[MaterialInput] CHECK CONSTRAINT [FK_MaterialInput_RowMaterial]
GO
ALTER TABLE [Production].[MaterialOutput]  WITH CHECK ADD  CONSTRAINT [FK_MaterialOutput_Process] FOREIGN KEY([ProcessID])
REFERENCES [Production].[Process] ([ProcessID])
GO
ALTER TABLE [Production].[MaterialOutput] CHECK CONSTRAINT [FK_MaterialOutput_Process]
GO
ALTER TABLE [Production].[MaterialOutput]  WITH CHECK ADD  CONSTRAINT [FK_MaterialOutput_Product] FOREIGN KEY([ProductID])
REFERENCES [Product].[Product] ([ProductID])
GO
ALTER TABLE [Production].[MaterialOutput] CHECK CONSTRAINT [FK_MaterialOutput_Product]
GO
ALTER TABLE [Production].[Process]  WITH CHECK ADD  CONSTRAINT [FK_Process_Batch] FOREIGN KEY([BatchID])
REFERENCES [Production].[Batch] ([BatchId])
GO
ALTER TABLE [Production].[Process] CHECK CONSTRAINT [FK_Process_Batch]
GO
ALTER TABLE [Production].[Process]  WITH CHECK ADD  CONSTRAINT [FK_Process_Unit] FOREIGN KEY([UnitId])
REFERENCES [Main].[Unit] ([UnitID])
GO
ALTER TABLE [Production].[Process] CHECK CONSTRAINT [FK_Process_Unit]
GO
ALTER TABLE [Production].[ProcessParameter]  WITH CHECK ADD  CONSTRAINT [FK_ProcessParameter_MeasureUnit] FOREIGN KEY([MeasureUnitID])
REFERENCES [Product].[MeasureUnit] ([MeasureUnitID])
GO
ALTER TABLE [Production].[ProcessParameter] CHECK CONSTRAINT [FK_ProcessParameter_MeasureUnit]
GO
ALTER TABLE [Production].[ProcessParameter]  WITH CHECK ADD  CONSTRAINT [FK_ProcessParameter_Process] FOREIGN KEY([ProcessID])
REFERENCES [Production].[Process] ([ProcessID])
GO
ALTER TABLE [Production].[ProcessParameter] CHECK CONSTRAINT [FK_ProcessParameter_Process]
GO
ALTER TABLE [Purchase].[MaterialReceipt]  WITH CHECK ADD  CONSTRAINT [FK_MaterialReceipt_PurchaseOrder] FOREIGN KEY([PurchaseOrderID])
REFERENCES [Purchase].[PurchaseOrder] ([PurchaseOrderID])
GO
ALTER TABLE [Purchase].[MaterialReceipt] CHECK CONSTRAINT [FK_MaterialReceipt_PurchaseOrder]
GO
ALTER TABLE [Purchase].[MaterialReceipt]  WITH CHECK ADD  CONSTRAINT [FK_MaterialReceipt_RowMaterial] FOREIGN KEY([MaterialID])
REFERENCES [Product].[RowMaterial] ([RowMaterialID])
GO
ALTER TABLE [Purchase].[MaterialReceipt] CHECK CONSTRAINT [FK_MaterialReceipt_RowMaterial]
GO
ALTER TABLE [Purchase].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_PurchaseRequest] FOREIGN KEY([RequestID])
REFERENCES [Purchase].[PurchaseRequest] ([RequestID])
GO
ALTER TABLE [Purchase].[PurchaseOrder] CHECK CONSTRAINT [FK_PurchaseOrder_PurchaseRequest]
GO
ALTER TABLE [Purchase].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [Main].[Supplier] ([SupplierID])
GO
ALTER TABLE [Purchase].[PurchaseOrder] CHECK CONSTRAINT [FK_PurchaseOrder_Supplier]
GO
ALTER TABLE [Purchase].[SupplierPayment]  WITH CHECK ADD  CONSTRAINT [FK_SupplierPayment_PurchaseOrder] FOREIGN KEY([PurchaseOrderID])
REFERENCES [Purchase].[PurchaseOrder] ([PurchaseOrderID])
GO
ALTER TABLE [Purchase].[SupplierPayment] CHECK CONSTRAINT [FK_SupplierPayment_PurchaseOrder]
GO
ALTER TABLE [Quality].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Test_Product] FOREIGN KEY([ProductID])
REFERENCES [Product].[Product] ([ProductID])
GO
ALTER TABLE [Quality].[Test] CHECK CONSTRAINT [FK_Test_Product]
GO
ALTER TABLE [Quality].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Test_Product1] FOREIGN KEY([ProductID])
REFERENCES [Product].[Product] ([ProductID])
GO
ALTER TABLE [Quality].[Test] CHECK CONSTRAINT [FK_Test_Product1]
GO
ALTER TABLE [Quality].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Test_Standard] FOREIGN KEY([StandardID])
REFERENCES [Quality].[Standard] ([StandardID])
GO
ALTER TABLE [Quality].[Test] CHECK CONSTRAINT [FK_Test_Standard]
GO
ALTER TABLE [Quality].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK_TestResult_Test] FOREIGN KEY([TestID])
REFERENCES [Quality].[Test] ([TestID])
GO
ALTER TABLE [Quality].[TestResult] CHECK CONSTRAINT [FK_TestResult_Test]
GO
ALTER TABLE [Quality].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK_TestResult_Unit] FOREIGN KEY([UnitID])
REFERENCES [Main].[Unit] ([UnitID])
GO
ALTER TABLE [Quality].[TestResult] CHECK CONSTRAINT [FK_TestResult_Unit]
GO
ALTER TABLE [Sales].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_SalesOrderHeader] FOREIGN KEY([SalesOrderID])
REFERENCES [Sales].[SalesOrderHeader] ([SalesOrderID])
GO
ALTER TABLE [Sales].[Invoice] CHECK CONSTRAINT [FK_Invoice_SalesOrderHeader]
GO
ALTER TABLE [Sales].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Invoice] FOREIGN KEY([InvoiceID])
REFERENCES [Sales].[Invoice] ([InvoiceID])
GO
ALTER TABLE [Sales].[Payment] CHECK CONSTRAINT [FK_Payment_Invoice]
GO
ALTER TABLE [Sales].[SalesOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [Product].[Product] ([ProductID])
GO
ALTER TABLE [Sales].[SalesOrderDetail] CHECK CONSTRAINT [FK_SalesOrderDetail_Product]
GO
ALTER TABLE [Sales].[SalesOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderDetail_SalesOrderHeader] FOREIGN KEY([SalesOrderID])
REFERENCES [Sales].[SalesOrderHeader] ([SalesOrderID])
GO
ALTER TABLE [Sales].[SalesOrderDetail] CHECK CONSTRAINT [FK_SalesOrderDetail_SalesOrderHeader]
GO
ALTER TABLE [Sales].[SalesOrderHeader]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderHeader_Customer] FOREIGN KEY([CustomerID])
REFERENCES [Main].[Customer] ([CustomerID])
GO
ALTER TABLE [Sales].[SalesOrderHeader] CHECK CONSTRAINT [FK_SalesOrderHeader_Customer]
GO
ALTER TABLE [Sales].[SalesOrderHeader]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderHeader_Shipment] FOREIGN KEY([ShipVia])
REFERENCES [dbo].[Shipment] ([ShipID])
GO
ALTER TABLE [Sales].[SalesOrderHeader] CHECK CONSTRAINT [FK_SalesOrderHeader_Shipment]
GO
ALTER TABLE [Utility].[EnergyConsumption]  WITH CHECK ADD  CONSTRAINT [FK_EnergyConsumption_Process] FOREIGN KEY([ProcessID])
REFERENCES [Production].[Process] ([ProcessID])
GO
ALTER TABLE [Utility].[EnergyConsumption] CHECK CONSTRAINT [FK_EnergyConsumption_Process]
GO
ALTER TABLE [Utility].[ProductionCost]  WITH CHECK ADD  CONSTRAINT [FK_ProductionCost_Process] FOREIGN KEY([ProcessID])
REFERENCES [Production].[Process] ([ProcessID])
GO
ALTER TABLE [Utility].[ProductionCost] CHECK CONSTRAINT [FK_ProductionCost_Process]
GO
ALTER TABLE [Utility].[UtilityConsumption]  WITH CHECK ADD  CONSTRAINT [FK_UtilityConsumption_Unit] FOREIGN KEY([UnitID])
REFERENCES [Main].[Unit] ([UnitID])
GO
ALTER TABLE [Utility].[UtilityConsumption] CHECK CONSTRAINT [FK_UtilityConsumption_Unit]
GO
ALTER TABLE [Inventory].[Transport]  WITH CHECK ADD CHECK  (([StockType]='product' OR [StockType]='material'))
GO
USE [master]
GO
